.sub-content {
  height: 290px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.latest-event {
  color: rgb(114, 157, 133);

  flex: 1;
  text-align: center;

  border-right-width: 1px;
  border-right-style: solid;



}

.upcoming-events {
  color: rgb(114, 157, 133);

  flex: 1;
  text-align: center;
}

.latest-event-heading,
.upcoming-events-heading {
  margin-top: -50px;
}

.latest-event-info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.latest-event-img {
  height: 220px;
  border-radius: 5px;
}

.upcoming-events-list {
  text-align: left;
  padding-left: 150px;
  margin-top: 40px;

}

.latest-event-description {
  text-align: left;
  margin-right: 70px;
}

